html
 head
 body
   .box
     .top
       h2.name 數位微電影營
         span.smallText NCYU Camp
       .tag
       .cirbutton
     .bottom
        ul
        li
          h3 時間:
          | 2019.01.28 - 2019.01.31 , 四天三夜
        li
          h3 地點:
          | 國立嘉義大學民雄校區
        li
          h3 主辦單位:
          | 國立嘉義大學 數位學習設計與管理學系
     .buttons
        .btn.btnWebsite
          a(href='https://www.facebook.com/DEDMMICROCINEMA/',target='_blank') 前往網站
        .btn.btnNews 更多訊息  
     